{
  "presets":[
      ["env",{
          "targets":{
              "browsers":"last 2 versions, > 1%, ie >= 8, Android >= 4, iOS >= 6, and_uc > 9"
          }
      }
      ]],
  "plugins": [
       "babel-plugin-transform-runtime",
       "transform-object-rest-spread"
  ]
}