<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{staticURL}}/images/32X32.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{staticURL}}/css/conmmon.css">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
</head>
<body>
    <div id="document" class="document pr f12">
        <div class="docleft pa">
            <h1 class="f20 fblack pa">DOCUMENT</h1>
            <dl class="docleft_dl fblack_l f14">
                <dt class="f16">开发指南</dt>
                <dd >
                    <a class="fblack_ll {{#_if pageSign '==' 'document_install'}}on{{/_if}}" href="/document/install">安裝</a>
                </dd>
                <dt class="f16">Server</dt>
                <dd>
                    <a class="fblack_ll {{#_if pageSign '==' 'document_page'}}on{{/_if}}" href="/document/page"><b>Request配置</b></a>
                </dd>
                <dd>
                    <a class="fblack_ll " >页面配置</a>
                </dd>
                <dd>
                    <a class="fblack_ll " >接口配置</a>
                </dd>
                <dd>
                    <a class="fblack_ll " href=""><b>controller</b></a>
                </dd>
                <dd>
                    <a class="fblack_ll " href=""><b>helpers</b></a>
                </dd>
                <dd>
                    <a class="fblack_ll " href=""><b>http请求</b></a>
                </dd>
                <dd>
                    <a class="fblack_ll " href=""><b>数据处理</b></a>
                </dd>
                <dd>
                    <a class="fblack_ll " >--增</a>
                </dd>
                <dd>
                    <a class="fblack_ll " >--删</a>
                </dd>
                <dd>
                    <a class="fblack_ll " >--改</a>
                </dd>
                <dd>
                    <a class="fblack_ll " >--查</a>
                </dd>
                <dt class="f16">Client</dt>
                <dd >
                    <a class="fblack_ll " href=""><b>颜色</b></a>
                </dd>
                <dd>
                    <a class="fblack_ll " ><b>字体</b></a>
                </dd>
                <dd>
                    <a class="fblack_ll " ><b>间距</b></a>
                </dd>
                <dd>
                    <a class="fblack_ll " ><b>LESS函数</b></a>
                </dd>
                <dd class="fblack_ll"><b>表单</b></dd>
                
                <dd>
                    <a class="fblack_ll " >下拉框</a>
                </dd>
                <dd>
                    <a class="fblack_ll " >输入框</a>
                </dd>
                <dd>
                    <a class="fblack_ll " >单选</a>
                </dd>
                <dd>
                    <a class="fblack_ll " >多选</a>
                </dd>
                <dd>
                    <a class="fblack_ll " >按钮</a>
                </dd>
            </dl>
        </div>
        <div class="docright fblack_ll f14">
            <div class="doc_nav right f16">
                <a class="fblack_ll">开发指南</a>
                <a class="fblack_ll">Server</a>
                <a class="fblack_ll">Client</a>
            </div>
            {{{body}}}
        </div>
    </div>
</body>
</html>