@color1: #fff;
@color2: #333;
@color3: #444;
@color4: #5e6d83;
@color4: #5e6d83;
@color5: #078A0E;
@color6:#fafafa;
@color7:#eaeefb;
@color8:#E6F7E8;


.c(@color) {
  color: @color;
}


.fwhite{
  .c(@color1);
}

.fblack{
  .c(@color2);
}

.fblack_l{
  .c(@color3);
}

.fblack_ll{
  .c(@color4);
}

