.docleft{
    width:200px;
    height:100%;
    padding:0 10px;
    overflow: auto;
    h1{
       .lh_center(80);
       width:190px;
       top:0;
       left:10px;
       background: @color1
    }
    dl{
        .ptop(80);
    }
    dt {
        .lh_center(40);
        font-weight: bold;
    }
    dd{
        .lh_center(25);
    }
}
.docright{
    .mleft(200);
    .doc_nav{
        .lh_center(50);
        .pright(20);
        a{
            .pleft(10);
        }
    }
}